* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	/*width: 700px;*/
	background: #dadfeb;
	font: 12px/1 arial, helvetica, sans-serif;
}
/* General reset */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
/* General settings */
.container{
	width: 960px;
	margin: 0 auto;
}
.flex-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.clear{
	clear: both;
}
/*HEADER START*/
.header{
	height: 90px;
	width: 100%;
	background: url("../img/header-bg.png");
	padding-top: 15px;
}
.header-nav li{
	display: inline-block;
}
.header-nav li + li{
	margin-left: 5px;
}
.btn{
	font-size: 13px;
	font-weight: bold;
	color: #2f57a1;
	padding: 4px 15px;
	border: 1px solid transparent;
	border-radius: 10px;
}
.btn:hover{
	text-decoration: none;
	color: #000;
	background: linear-gradient(to top, #cacaca, #fcfcfc);
	box-shadow: 2px 2px rgba(0,0,0, .5);
}
/*HEADER END*/

/*MAIN START*/
.main{
	overflow: hidden;
}
.main-img{
	background: url("../img/pc-img.png") no-repeat top center; 
	-webkit-background-size: cover;
	background-size: cover;
	height: 430px;
	text-align: center;
}
.content-header{
	padding-top: 20px;
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 14px;
}
.content-header{
	position: relative;
}
.content-header a:before{
	content: "";
	display: inline-block;
	background: url("../img/sprite.png") -0px -0px no-repeat;
	width: 40px; 
	height: 30px;
	position: absolute;
	top: 40px;
	right: 290px;
}
.content-header p{
	width: 61%;
	font-size: 36px;
	color: #132445;
	float: left;
}
.main-btn{
	display: inline-block;
	background: url("../img/btn-bg.png");
	width: 37%;
	font-size: 25px;
	text-transform: uppercase;
	color: #dadfeb;
	padding: 12px 10px 12px 80px;
	border: 5px solid #fff;
	border-radius: 10px;
	margin-top: -12px;
	box-shadow: inset 0 4px 0 2px rgba(46,84,159, .5);
}
.main-btn span{
	display: inline-block;
	font-size: 33px;
}
.main-btn:hover{
	text-decoration: none;
}
.content{
	padding-top: 37px;
}
.content-item{
	width: 218px;
	height: 314px;
	background: #fff;
	padding: 18px 18px 0 18px;
	border-radius: 5px;
	border: 3px solid transparent;
}
.content-item:hover{
	border: 3px solid #5365a9;
}
.content-item h3{
	font-size: 20px;
	color: #132445;
	margin: 20px 0;
}
.content-item p{
	font-size: 13px;
	color: #545668;
	text-align: justify;
	margin-bottom: 14px;
	line-height: 1.2;
}
.content-item .btn{
	background: linear-gradient(to top, #cacaca, #fcfcfc);
	box-shadow: 2px 2px rgba(0,0,0, .5);
}
.content-item-icon{
	width: 50%;
	float: left;
	padding-top: 25px;
	margin-bottom: 38px;
}
.content-item-icon-1{
	width: 195px;
	text-align: justify;
	float: left;
	color: #132445;
	margin-bottom: 28px;
	margin-right: 45px;
}
.content-item-icon-1:nth-child(even){
	padding-left: 12px;
}
.content-item-icon-1 img{
	float: left;
	padding-right: 10px;
}
.content-item-icon-1 h4{
	font-size: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
}
.content-item-icon-1 p{
	line-height: 1.2;
}
.content-item-text{
	width: 50%;
	float: left;
	margin-top: 35px;
	text-align: justify;
	font-size: 13px;
}
.content-item-text{
	color: #132445;
	line-height: 1.5;
}
.content-item-text h4{
	font-size: 15px;
	margin-bottom: 25px;
}
.content-item-text p{
	margin-bottom: 15px;
}
.content-item-text a{
	color: #2945c0;
	text-decoration: underline;
}
.content-item-text a:hover{
	color: #000;
}
/*MAIN END*/

/*FOOTER START*/
.footer{
	height: 120px;
	background: #565f81;
}
.copywright{
	width: 50%;
	padding-top: 25px;
	float: left;
}
.copywright ul{
	margin-bottom: 12px;
}
.copywright ul li{
	display: inline-block;
	border-right: 1px solid #dadfeb;
}
.copywright ul li + li{
	padding-left: 10px;
}
.copywright ul li:last-child{
	border-right: none;
}
.copywright ul li a{
	color: #dadfeb;
	font-size: 13px;
	margin-right: 10px;
}
.copywright ul li a:hover{
	text-decoration: none;
	color: #fff;
}
.copywright span{
	display: block;
	color: #9fa8bd;
	margin-bottom: 12px;
}
.copywright span a{
	color: #9fa8bd;
	border-left: 1px solid #9fa8bd;
	margin-left: 5px;
	padding-left: 5px;
}
.copywright span a:hover{
	color: #fff;
	text-decoration: none;
}
.copywright .span-b a{
	text-decoration: underline;
	color: #dadfeb;
}
.footer-social-nav{
	width: 50%;
	float: left;
	color: #dadfeb;
	font-size: 13px;
	padding-top: 34px;
	vertical-align: middle;
}
.footer-social-nav ul{
	float: right;
}
.footer-social-nav ul li{
	display: inline-block;
}
.footer-social-nav ul li + li{
	margin-left: 15px;
}
.footer-social-nav ul li a{
	display: inline-block;
	background-image: url("../img/sprite.png");
	width: 34px; 
	height: 35px;
	vertical-align: -13px;
}
.tw-ic{ 
	background-position: -0px -135px;
}
.fb-ic{ 
	background-position: -0px -30px;
}
.in-ic{ 
	background-position: -0px -65px;
}
.tg-ic{ 
	background-position: -0px -100px;
}

/*FOOTER END*/




/*.arrow-ic { background-position: -0px -0px; width: 40px; height: 30px; }
.fb-ic { background-position: -0px -30px; width: 34px; height: 35px; }
.in-ic { background-position: -0px -65px; width: 34px; height: 35px; }
.tg-ic { background-position: -0px -100px; width: 34px; height: 35px; }
.tw-ic { background-position: -0px -135px; width: 34px; height: 35px; }*/